@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

#quote-box {
  width: 75rem;
  height: 15rem;
  padding: 30px;
  background-color: white;
  text-align: center;
}

#presentation {
  margin: 30px 20px 30px 20px;
}

a {
  margin: 30px 10px;
  padding: 7px 20px;
  width: 400px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background-color: grey;
  opacity: 1;
  border-style: none;
  &:hover {
    opacity:0.9;
  }
}
